$primary: darken(#428bca, 20%);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1920px,
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1900px
);

@import "~bootstrap/scss/bootstrap";

.row {
  margin-top: $grid-gutter-width / 2;
  main > & {
    margin-top: 0;
  }
}

.img-thumbnail {
  [data-safety="sketchy"] & {
    background-color: $warning;
  }
  [data-safety="unsafe"] & {
    background-color: $danger;
  }
}

.post {
  img, video {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.tag {
  width: 100%;
  .hover {
    display: none;
    width: 1rem;
  }
  &:hover {
    .hover {
      display: block;
    }
    .no-hover {
      display: none;
    }
  }
  & > .btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}